body{
  font-family: sans-serif;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.table th {
  font-weight: bold;
}

.table td img {
  max-width: 100px; /* Define a largura máxima da imagem */
  max-height: 100px; /* Define a altura máxima da imagem */
  width: auto; /* Deixa a largura automática */
  height: auto; /* Deixa a altura automática */
  border-radius: 4px;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  cursor: pointer;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding-left: 10px;
}

.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
  opacity: 0.8;
}

.btn-primary a,
.btn-success a,
.btn-danger a {
  color: #fff;
  text-decoration: none;
}

.btn-primary a:hover,
.btn-success a:hover,
.btn-danger a:hover {
  color: #fff;
  text-decoration: none;
}
