<html>
  <head>
      <link rel="stylesheet" href="/css/home.css" />
      <link rel="stylesheet" href="/css/header.css" />
       <link rel="stylesheet" href="/css/footer.css" />
       <link rel="stylesheet" href="/css/cadastro.css" />
      <title>Página Home</title>
  </head>
  <body>
    <header class="header">
        <img class="logo" src="/image/logo.jpg" alt="Logo da Empresa">
        <h1 class="site-title">Grimório de Magic The Gathering</h1>
        <nav class="nav-buttons">
            <a class="nav-button" href="#">Home</a>
            <a class="nav-button" href="#">Sobre Nós</a>
            <a class="nav-button" href="#">Contato</a>
        </nav>
    </header>